body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f9f9f9, #eeeeee);
    text-align: center;
}

.login-container {
    padding: 10px; /* Espacio mínimo */
    background: white;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 4px; /* Espacio interno más pequeño */
    margin: 2px; /* Reducción del margen entre inputs */
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
    text-align: center; /* Centra el texto dentro del input */
}

button {
    background: #008CBA;
    color: white;
    padding: 4px; /* Espacio más reducido */
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    width: 80%;
}

button:hover {
    background: #005f75;
}

.comentarios-container {
    margin-top: 10px; /* Reducción de espacio superior */
    background: white;
    padding: 10px; /* Ajuste de relleno interno */
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos */
}

textarea {
    height: 180px; /* Mantiene espacio amplio para comentarios */
    padding: 4px; /* Reduce espacio interno */
    margin: 2px 0; /* Espacios compactos */
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
    resize: vertical; /* Permite ajustar manualmente */
    text-align: center; /* Centra el texto dentro del textarea */
}

