input {
    padding: 6px; /* Reducimos más el espacio interno */
    margin: 4px; /* Menos espacio entre los inputs */
}

button {
    padding: 6px; /* Ajustamos el tamaño del botón */
}

.comentarios-container {
    margin-top: 15px; /* Reducción sutil en la separación superior */
    padding: 15px; /* Ajuste del relleno interno */
}

textarea {
    height: 200px; /* Mantiene el tamaño del área de comentarios */
    padding: 6px; /* Reduce el espacio interno */
    margin: 4px 0; /* Hace los espacios más compactos */
}
